<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.potato_disease">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Potato_disease">
        <activity
            android:name=".Irrigation"
            android:exported="false" />
        <activity
            android:name=".Monitoring"
            android:exported="false" />
        <activity
            android:name=".PlantSelection"
            android:exported="false" />
        <activity
            android:name=".Cultivation"
            android:exported="false" />
        <activity
            android:name=".Healthy"
            android:exported="false" />
        <activity
            android:name=".LateBlight"
            android:exported="false" />
        <activity
            android:name=".ChatAI"
            android:exported="false" />
        <activity
            android:name=".fertilizer"
            android:exported="false"
            android:label="@string/title_activity_fertilizer"
            android:theme="@style/Theme.Potato_disease.NoActionBar" />
        <activity
            android:name=".Weather"
            android:exported="true" />
        <activity
            android:name=".Disease"
            android:exported="true" />
        <activity
            android:name=".Userlocation"
            android:exported="false" />
        <activity
            android:name=".FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>